@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  background-image: linear-gradient(to top left, #bf2e34 0%, #753682 100%);
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #333;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  height: 80vh;
  width: 70%;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.35);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.item2 {
  grid-column-start: 6;
  grid-column-end: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2em;
}

.bottom-r-l {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.8em;
}

.item3 {
  grid-column-start: 7;
  grid-column-end: 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.hidden {
  display: none;
}

.show-modal {
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top left, #bf2e34 0%, #753682 100%);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.modal > h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
}

.modal > p {
  font-size: 23px;
  text-align: start;
}

.dice {
  height: 6rem;
  box-shadow: 0 2em 5em rgba(0, 0, 0, 0.2);
}

.name {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
  text-align: center;
  margin: -0.3em 0.5em 0 0.5em;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 50%;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.btn {
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 800;
  transition: all 0.2s;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 0.5rem 1.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  margin-top: 0.5em;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}
